.scrollable_container {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollable_container > * {
  flex-grow: 0;
}

.scrollable_container::-webkit-scrollbar {
  width: 8px;
  background: rgba(47, 47, 55, 1);
}

.scrollable_container::-webkit-scrollbar-thumb {
  width: 8px;
  border: 3px solid rgba(133, 133, 173, 1);
  background-color: #8585AD;
}