/node_modules/!/build/
!/node_modules/
!/build/
!/build/static/
!/build/static/css/
!/build/static/js/
!/build/static/media/
!/build/asset-manifest.json

!/build/favicon.ico

!/build/index.html

!/build/logo192.png

!/build/logo512.png

!/build/manifest.json

!/build/robots.txt
!/build/static/css/main.925df408.css

!/build/static/css/main.925df408.css.map
!/build/static/js/787.438bf4e7.chunk.js

!/build/static/js/main.3f5603cb.js

!/build/static/js/main.3f5603cb.js.LICENSE.txt
!/build/static/media/done.b9bd706528e45b87e9ae431c6a807cb2.svg

!/build/static/media/iceland.4ae67a017a5ff82bbbb7.woff2

!/build/static/media/iceland.77ad7fc2baffd9305538.woff

!/build/static/media/JetBrainsMono-Bold.3914674f1cb2335acf26.woff

!/build/static/media/JetBrainsMono-Bold.c232d532ea5a5189a278.woff2

!/build/static/media/JetBrainsMono-Regular.b60380891bcf2eb241ca.woff2

!/build/static/media/JetBrainsMono-Regular.f52bee61d00ce995b89f.woff
