.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close_button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.close_button_position_right {
  align-self: flex-end;
  position: absolute;
}

.inner_zone {
  width: 720px;
  background-color: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_and_header {
  width: 100%;
  max-width: calc(100% - 80px);
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal_header {
  text-align: left;
}