.ingredient {
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.ingredient__figure {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient__price {
  display: flex;
  gap: .5rem;
}

.ingredient__figure_caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient__image {
  width: 100%;
  max-width: 240px;
}

.ingredient_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}