.ingredient_details {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredient_composition {
  display: flex;
  justify-content: space-between;
}

.ingredient_image {
  width: 480px;
}

.ingredient_name {
  text-align: center;
}